h1 {
        color: darkred; 
        text-align: center;
      }
      
      .login-inputs { /* 클래스 */
        font-size: 25px;
      }

      #btn_login { /* 아이디 */
        font-size: 15px; 
        width: 100px; 
        height: 30px;
      }